table{
    width:90%;
    border-collapse:collapse; 
    text-align: center;
}
table, th, td{
    border:1px solid black;
}
.picture{
    width: 200px;
    height:150px;
}
#tim kiem{
    width:300px;
}
body{
    text-align: center;
}

nav{
    background:pink;
    border:1px solid black;
    display:flex;
    padding:10px;
    border-radius: 5px;
    align-items: center;
}
nav a{
    color: white;
    margin-right: auto;
    margin-left:auto;
    text-decoration: none;
    padding: 20px;
}
.phone{
    width:50px;
    height:20px;
    text-align: center;
    padding:2px;
    background-color: red;
    border-radius: 5px;
}
.i{
    width:14px;
    height:14px;
}

.tim kiem{
    display: flex;
    width: 400px;
    height:30px;
    position: absolute;
    right: 200px;
    left:750px
}
.dang nhap{
    padding-right: 50px;
}